<!DOCTYPE html>
<html>
<head>
  <title>Brigade</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<div class="container">
<%= yield %>
</div>
=======

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
>>>>>>> 70f9bf8de3507cc5ef2f484e7af41e9300869edc

</body>
</html>
